.gradientBackground {
  background-color: #f0f0f0;
  background-image: 
    radial-gradient(at 17% 0%, hsla(281, 0%, 94%, 1) 0, transparent 50%),
    radial-gradient(at 98% 1%, hsla(300, 0%, 94%, 1) 0, transparent 50%),
    radial-gradient(at 33% 87%, hsla(300, 0%, 94%, 1) 0, transparent 50%),
    radial-gradient(at 65% 86%, hsla(300, 0%, 94%, 1) 0, transparent 50%),
    radial-gradient(at 61% 21%, hsla(300, 0%, 94%, 1) 0, transparent 50%),
    radial-gradient(at 31% 31%, hsla(248, 100%, 66%, 0.8) 0, transparent 50%),
    radial-gradient(at 42% 32%, hsla(248, 83%, 76%, 1) 0, transparent 50%),
    radial-gradient(at 64% 56%, hsla(166, 80%, 55%, 1) 0, transparent 50%),
    radial-gradient(at 68% 46%, hsla(180, 43%, 53%, 1) 0, transparent 50%),
    radial-gradient(at 67% 59%, hsla(194, 100%, 73%, 1) 0, transparent 50%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.noiseOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/noise.png');
  background-size: 150px;
  mix-blend-mode: overlay;
  opacity: 0.4;
  z-index: -1;
}
